* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style-type: none;
}
li,
a {
    text-decoration: none;
}
@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
    /* colors */
    --gray-900: #141414;
    --gray-800: #1f1f1f;
    --gray-700: #333333;
    --green: #c4f82a;
    --white: #ffffff;
    /* spacing */
    --space-500: 40px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;
}

.text-preset-1 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-preset-2 {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0px;
}
.text-preset-3 {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    background-color: var(--gray-800);
    color: var(--white);
    margin: 0 8px;
    padding: var(--space-150);
}
body {
    background-color: var(--gray-900);
}
h1 {
    color: var(--green);
}
ul {
    width: 100%;
}
li {
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin: 16px 0;
    background-color: var(--gray-700);
    width: 100%;
    justify-content: center;
    border-radius: 8px;
}
a {
    width: 100%;
    color: var(--white);
}
